.about-section {
    background-color: #f8f8f8;
    padding: 80px 0;
    height: 100%;
  }
  
  .about-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .about-content {
    display: flex;
    align-items: center;
  }
  
  .profile-image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 40px;
  }
  
  .text-content {
    flex-grow: 1;
  }
  
  .about-title {
    font-size: 2.5rem;
    color: #333;
  }
  
  .about-description {
    font-size: 1.2rem;
    color: #555;
    margin-top: 20px;
  }
  
  .animated-fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .education-section {
    margin-top: 20px;
    padding:50px 0;
  }
  
  .education-title {
    font-size: 1.5rem;
    color: #333;
    text-align: start;
  }
  
  .education-details {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .education-item {
    flex: 0 0 48%; /* Adjust as needed based on your design */
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
    }
  }
  
  .education-degree {
    font-size: 1.2rem;
    color: #555;
  }
  
  .education-school,
  .education-year {
    color: #777;
    margin-top: 5px;
  }