.contact-section {
    background-color: #f8f8f8;
    padding: 80px 0;
  }
  
  .contact-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .contact-content {
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .contact-title {
    font-size: 2.5rem;
    color: #333;
  }
  
  .contact-description {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
  }
  
  .contact-form {
    display: grid;
    gap: 20px;
    text-align: left;
  }
  
  label {
    font-size: 1rem;
    color: #333;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  textarea{
    resize: none;
  }
  
  button {
    background-color: #00bcd4;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0097a7;
  }
  @media (max-width: 640px){
    .contact-section {
      padding: 10px;
    }

  }