.navbar {
  background-color: #333;
  padding: 15px 15px;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 150px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.navbar-toggle {
  cursor: pointer;
  display: none;
}

.fa-solid {
  font-size: 30px;
}

@media (max-width: 640px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links a {
    margin: 10px 0;
  }

  .navbar-toggle {
    display: block;
  }
}